<% const { width = 300, height = 300, url = `/images/${locals.type}-banner.png`,
} = locals.image ?? {}; %>

<div class="card <%= locals.variant %>" title="<%= locals.title %>" data-ripple>
  <div class="card-banner">
    <figure class="figure-img">
      <img
        src="<%= url %>"
        alt="<%= title %>"
        width="<%= width %>"
        height="<%= height %>"
        loading="lazy"
        class="cover-img"
        data-lazy-loaded
      />
    </figure>

    <%- include("./play-btn.ejs", { variant: "filled", dataAttr:
    `data-uri="${locals.uri}"` }) %>
  </div>

  <div class="card-content">
    <h3 class="title-medium card-title truncate"><%= locals.title %></h3>

    <p class="body-medium card-text has-separator line-clamp-2">
      <!-- prettier-ignore -->
      <% if (locals.year) { %>
      <span><%= locals.year %></span>
      <span class="separator"></span>
      <% } %>

      <!-- prettier-ignore -->
      <%- locals.text %>
    </p>
  </div>

  <a
    href="<%= locals.link %>"
    class="card-link"
    aria-label="<%= locals.title %>"
  ></a>

  <div class="state-layer"></div>
</div>
