<nav
  role="navigation"
  aria-label="Pagination navigation"
  class="pagination-controls"
>
  <% 
    const totalPages = Math.ceil(locals.total / locals.limit);
    const currentPage = parseInt(locals.page);
    const isValidPage = currentPage <= totalPages;
  %>
  
  <p class="body-medium">
    <% if (isValidPage) { %>
      Page <%= `${currentPage} of ${totalPages}` %>
    <% } else { %>
      Page <%= currentPage %> (End of results)
    <% } %>
  </p>

  <div class="controls-wrapper">
    <a
      href="<%= `${locals.baseUrl}/pages/${+locals.page - 1}` %>"
      aria-label="<%= locals.previous ? 'Visit previous page' : 'No previous page available' %>"
      class="icon-btn"
      <%= locals.previous ? "" : "disabled" %>
      data-ripple
    >
      <span class="material-symbols-rounded">chevron_left</span>
      <div class="state-layer"></div>
    </a>

    <a
      href="<%= `${locals.baseUrl}/pages/${+locals.page + 1}` %>"
      aria-label="<%= locals.next ? 'Visit next page' : 'No next page available' %>"
      class="icon-btn"
      <%= locals.next ? "" : "disabled" %>
      data-ripple
    >
      <span class="material-symbols-rounded">chevron_right</span>
      <div class="state-layer"></div>
    </a>
  </div>
</nav>

<p class="body-small pagination-helper-text">
  Note: Total pages may vary due to Spotify's dynamic content filtering
</p>
