<div class="search-bar">
  <span class="material-symbols-rounded leading-icon">search</span>

  <!-- Logo -->
  <svg
    width="103"
    height="24"
    viewBox="0 0 103 24"
    xmlns="http://www.w3.org/2000/svg"
    role="img"
    aria-label="RaagRiff logo"
    class="logo"
    data-logo
  >
    <g>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24ZM15.288 16.3815C15.702 16.3815 16.038 16.0455 16.038 15.6315V8.44351C16.038 8.02951 15.702 7.69351 15.288 7.69351C14.874 7.69351 14.538 8.02951 14.538 8.44351V15.6315C14.538 16.0455 14.874 16.3815 15.288 16.3815ZM9.54599 14.6385C9.54599 15.0525 9.20999 15.3885 8.79599 15.3885C8.382 15.3885 8.04599 15.0525 8.04599 14.6385V9.43652C8.04599 9.02252 8.382 8.68652 8.79599 8.68652C9.20999 8.68652 9.54599 9.02252 9.54599 9.43652V14.6385ZM5.55001 14.1945C5.96401 14.1945 6.30001 13.8585 6.30001 13.4445V10.632C6.30001 10.218 5.96401 9.88201 5.55001 9.88201C5.13601 9.88201 4.80001 10.218 4.80001 10.632V13.4445C4.80001 13.8585 5.13601 14.1945 5.55001 14.1945ZM12.792 16.725C12.792 17.139 12.456 17.475 12.042 17.475C11.628 17.475 11.292 17.139 11.292 16.725V7.35001C11.292 6.93601 11.628 6.60001 12.042 6.60001C12.456 6.60001 12.792 6.93601 12.792 7.35001V16.725ZM18.534 14.616C18.948 14.616 19.284 14.28 19.284 13.866V10.209C19.284 9.79502 18.948 9.45901 18.534 9.45901C18.12 9.45901 17.784 9.79502 17.784 10.209V13.866C17.784 14.28 18.12 14.616 18.534 14.616Z"
        fill="#12E29A"
      />
      <text
        x="28"
        y="12"
        font-family="Outfit, sans-serif"
        font-size="18"
        font-weight="500"
        fill="#12E29A"
        text-anchor="start"
        dominant-baseline="central"
        alignment-baseline="central"
      >
        RaagRiff
      </text>
    </g>
  </svg>

  <form action="/search" method="post" class="search-form">
    <label for="search-field" class="sr-only"
      >Search for music: tracks, artists, albums, and playlists</label
    >

    <input
      type="search"
      name="query"
      id="search-field"
      value="<%= locals.query %>"
      required
      placeholder="Find your perfect riff..."
      class="search-field body-large"
      data-search-field
    />
  </form>

  <% const { width = 30, height = 30, url = "/images/avatar.png" } =
  locals.images.find(img => img.width === 64) || {}; %>

  <div class="menu-wrapper" data-menu-wrapper>
    <button
      type="button"
      aria-label="Click to open utility menu"
      data-menu-toggler
      data-ripple
    >
      <img
        src="<%= url %>"
        alt="<%= locals.display_name %>'s avatar"
        width="<%= width %>"
        height="<%= height %>"
        class="avatar"
      />

      <div class="state-layer"></div>
    </button>

    <%- include("./menu.ejs") %>
  </div>

  <%- include("./icon-btn.ejs", { icon: "close", variant: "clear", dataAttr:
  "data-search-clear" }) %>
</div>
