<% const { items: categoryItems } = locals.categories %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../layouts/head.ejs", { title: "Explore | RaagRiff" }) %>

    <link rel="stylesheet" href="/css/explore.css" />
  </head>

  <body>
    <main class="page custom-scrollbar" data-page>
      <!-- Topbar -->
      <%- include("../partials/top-bar.ejs", locals.currentUserProfile) %>

      <article class="main">
        <section class="section">
          <div class="title-wrapper">
            <h2 class="title-large section-title">Explore</h2>
          </div>

          <div class="grid-list">
            <!-- prettier-ignore -->
            <% categoryItems.filter(item => item !== null).forEach(({ id, icons, name }) => { %>
                <% const { width, height, url } = icons.at(0) %>
                <%- include("../partials/category-card.ejs", {
                    id,
                    name,
                    width,
                    height,
                    url
                }) %>
            <% }) %>
          </div>

          <!-- Pagination controls -->
          <%- include("../partials/pagination-controls.ejs", locals.categories)
          %>
        </section>
      </article>

      <!-- Music player small -->
      <%- include("../partials/player-sm.ejs") %>

      <!-- Music player large (modal view) -->
      <%- include("../partials/player-lg.ejs") %>

      <!-- Footer -->
      <%- include("../layouts/footer.ejs") %>

      <!-- Bottom navigation -->
      <%- include("../partials/bottom-nav.ejs", { currentRoute: "/explore" }) %>
    </main>

    <!-- Recently played tracks sidebar -->
    <%- include("../layouts/recent-tracks-sidebar.ejs", { recentTracks:
    locals.recentlyPlayedTracks }) %>
  </body>
</html>
