<% const { items: playlistItems } = locals.playlistSearchResultsInfo; %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../layouts/head.ejs", { title: "Search | RaagRiff" }) %>
  </head>

  <body>
    <main class="page custom-scrollbar" data-page>
      <!-- Topbar -->
      <%- include("../partials/top-bar.ejs", locals.currentUserProfile) %>

      <!-- Search filters -->
      <%- include("../layouts/search-filters.ejs", { type: locals.type }) %>

      <article class="main">
        <section class="section">
          <div class="grid-list">
            <!-- prettier-ignore -->
            <% playlistItems.filter(item => item !== null).forEach(({ id, name: title, images, owner, uri }) => { %>
                <% 
                  const [image] = images || [];
                  const text = `By ${owner.display_name}`; 
                %>
                <%- include("../partials/card.ejs", {
                    type: "playlist",
                    title,
                    image,
                    text,
                    link: `/playlists/${id}`,
                    uri
                }) %>
            <% }) %>
          </div>

          <!-- Pagination controls -->
          <%- include("../partials/pagination-controls.ejs",
          locals.playlistSearchResultsInfo) %>
        </section>
      </article>

      <!-- Music player small -->
      <%- include("../partials/player-sm.ejs") %>

      <!-- Music player large (modal view) -->
      <%- include("../partials/player-lg.ejs") %>

      <!-- Footer -->
      <%- include("../layouts/footer.ejs") %>

      <!-- Bottom navigation -->
      <%- include("../partials/bottom-nav.ejs") %>
    </main>

    <!-- Recently played tracks sidebar -->
    <%- include("../layouts/recent-tracks-sidebar.ejs", { recentTracks:
    locals.recentlyPlayedTracks }) %>
  </body>
</html>
