<% const { items: albumItems } = locals.albumSearchResultsInfo; %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../layouts/head.ejs", { title: "Search | RaagRiff" }) %>
  </head>

  <body>
    <main class="page custom-scrollbar" data-page>
      <!-- Topbar -->
      <%- include("../partials/top-bar.ejs", locals.currentUserProfile) %>

      <!-- Search filters -->
      <%- include("../layouts/search-filters.ejs", { type: locals.type }) %>

      <article class="main">
        <section class="section">
          <div class="grid-list">
            <!-- prettier-ignore -->
            <% albumItems.filter(item => item !== null).forEach(({ id, name: title, images, artists, release_date, uri }) => { %>
                <%
                    const year = new Date(release_date).getFullYear();
                    const text = artists.map(({ name }) => name).join(", ");
                    const image = images.find(img => img.width === 300);
                %>
                <%- include("../partials/card.ejs", {
                    type: "album",
                    title,
                    image,
                    text,
                    year,
                    link: `/albums/${id}`,
                    uri
                }) %>
            <% }) %>
          </div>

          <!-- Pagination controls -->
          <%- include("../partials/pagination-controls.ejs",
          locals.albumSearchResultsInfo) %>
        </section>
      </article>

      <!-- Music player small -->
      <%- include("../partials/player-sm.ejs") %>

      <!-- Music player large (modal view) -->
      <%- include("../partials/player-lg.ejs") %>

      <!-- Footer -->
      <%- include("../layouts/footer.ejs") %>

      <!-- Bottom navigation -->
      <%- include("../partials/bottom-nav.ejs") %>
    </main>

    <!-- Recently played tracks sidebar -->
    <%- include("../layouts/recent-tracks-sidebar.ejs", { recentTracks:
    locals.recentlyPlayedTracks }) %>
  </body>
</html>
