<% const { items: artistItems } = locals.artistSearchResultsInfo; %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../layouts/head.ejs", { title: "Search | RaagRiff" }) %>
  </head>

  <body>
    <main class="page custom-scrollbar" data-page>
      <!-- Topbar -->
      <%- include("../partials/top-bar.ejs", locals.currentUserProfile) %>

      <!-- Search filters -->
      <%- include("../layouts/search-filters.ejs", { type: locals.type }) %>

      <article class="main">
        <section class="section">
          <div class="grid-list">
            <!-- prettier-ignore -->
            <% artistItems.filter(item => item !== null).forEach(({ id, type, name: title, images, uri }) => { %>
                <% const [image] = images || []; %>
                <%- include("../partials/card.ejs", {
                    variant: "artist-card",
                    type: "artist",
                    title,
                    image,
                    text: type,
                    link: `/artists/${id}`,
                    uri
                }) %>
            <% }) %>
          </div>

          <!-- Pagination controls -->
          <%- include("../partials/pagination-controls.ejs",
          locals.artistSearchResultsInfo) %>
        </section>
      </article>

      <!-- Music player small -->
      <%- include("../partials/player-sm.ejs") %>

      <!-- Music player large (modal view) -->
      <%- include("../partials/player-lg.ejs") %>

      <!-- Footer -->
      <%- include("../layouts/footer.ejs") %>

      <!-- Bottom navigation -->
      <%- include("../partials/bottom-nav.ejs") %>
    </main>

    <!-- Recently played tracks sidebar -->
    <%- include("../layouts/recent-tracks-sidebar.ejs", { recentTracks:
    locals.recentlyPlayedTracks }) %>
  </body>
</html>
