<!-- prettier-ignore -->
<%
const { 
  album_type, 
  name: albumName, 
  artists, 
  release_date, 
  uri: albumUri,
  images: albumImages, 
  tracks: { items: albumTracks }, 
  copyrights, 
  external_urls: { spotify: spotifyUrl }, 
  total_tracks 
} = locals.albumInfo;
const artistNames = artists.map(({ name }) => name).join(", ");
const {
  width: albumInfoBannerWidth = 300,
  height: albumInfoBannerHeight = 300,
  url: albumInfoBannerSrc = "/images/album-banner.png"
} = albumImages.at(0) ?? {};
const {
  firstArtist,
  items: moreAlbums,
  next: moreByArtistNextPage
} = locals.moreByArtist;
%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../layouts/head.ejs", { title: `${albumName} — ${artistNames} |
    RaagRiff` }) %>

    <link rel="stylesheet" href="/css/album-info.css">

    <style>
      .page::before {
        background-image: url("<%= albumInfoBannerSrc %>");
      }

      .list-item .item-content {
        grid-template-columns: minmax(0, 1fr) 42px;
      }

      .list-item .item-sr-no {
        display: block;
        width: 28px;
        text-align: center;
        position: relative;
      }
    </style>
  </head>

  <body>
    <main class="page custom-scrollbar" data-page>
      <!-- Topbar -->
      <%- include("../partials/top-bar.ejs", locals.currentUserProfile) %>

      <article class="main">
        <!-- Album info -->
        <header class="info-header">
          <figure class="figure-img info-banner">
            <img
              src="<%= albumInfoBannerSrc %>"
              alt="<%= albumName %> banner"
              width="<%= albumInfoBannerWidth %>"
              height="<%= albumInfoBannerHeight
             %>"
              class="cover-img"
              data-lazy-loaded
            />
          </figure>

          <div class="info-content">
            <p class="label-large info-subtitle"><%= album_type %></p>

            <h2 class="headline-large info-title"><%= albumName %></h2>

            <div class="info-text has-separator">
              <% artists.forEach(({ name }) => { %>
              <p class="label-large"><%= name %></p>
              <span class="separator"></span>
              <% }) %>

              <p class="label-large">
                <%= new Date(release_date).getFullYear() %>
              </p>
              <span class="separator"></span>

              <% if (total_tracks > 1) { %>
              <p class="label-large"><%= total_tracks %> Tracks</p>
              <% } else { %>
              <p class="label-large"><%= total_tracks %> Track</p>
              <% } %>
            </div>

            <div class="info-actions">
              <%- include("../partials/play-btn.ejs", { variant: "filled",
              dataAttr: `data-uri=${albumUri}` }) %>

              <a
                href="<%= spotifyUrl %>"
                target="_blank"
                class="btn btn-outline has-icon"
                data-ripple
              >
                <img
                  src="/images/spotify-primary.svg"
                  alt="Spotify logo"
                  width="18"
                  height="18"
                />
                <span class="label-large">Listen on Spotify</span>
                <div class="state-layer"></div>
              </a>
            </div>
          </div>
        </header>

        <div class="divider"></div>

        <!-- Album tracks -->
        <div class="list-container">
          <header class="list-header" data-list-header>
            <div class="sr-no-col body-large">#</div>

            <div class="title-col body-large">Title</div>

            <div class="duration-col">
              <span aria-label="Duration" class="material-symbols-rounded">schedule</span>
            </div>
          </header>

          <div class="list">
            <!-- prettier-ignore -->
            <% albumTracks.forEach(({ id, name: title, artists, uri: trackUri, duration_ms }, index) => { %>
              <%
                const text = artists.map(({ name }) => name).join(", ");
                index++; 
               %>

               <%- include("../partials/list-item.ejs", {
                id,
                title,
                text,
                duration_ms,
                trackSrNo: index,
                trackUri
               }) %>
            <% }) %>
          </div>
        </div>

        <!-- Album copyright -->
         <div class="info-copyright">
          <p class="body-medium">
            <%= new Date(release_date).toDateString() %>

            <% copyrights.forEach(({ text }) => { %>
              <p class="label-small"><%= text %></p>
            <% }) %>
          </p>
         </div>

         <!-- More albums by artist -->
        <% if (moreAlbums.length > 0) { %>
          <section class="section">
            <% const { id, name } = firstArtist; %>

            <div class="title-wrapper">
              <h2 class="title-large section-title">
                More by <%= name %>
              </h2>

              <% if (moreByArtistNextPage !== null) { %>
                <a href="/artists/<%= id %>/albums" class="btn btn-link" data-ripple>
                  <span class="label-large">See discography</span>
                  <div class="state-layer"></div>
                </a>
              <% } %>
            </div>

            <div class="slider" data-slider>
              <div class="slider-inner">
                <% moreAlbums.forEach(({ id, name: title, images, release_date, uri }) => { %>
                  <%
                    const text = new Date(release_date).getFullYear();
                    const img = images.find(img => img.width === 300); 
                  %>

                  <%- include("../partials/card.ejs", {
                    type: "album",
                    title,
                    text,
                    image: img,
                    link: `/albums/${id}`,
                    uri
                  }) %>
                <% }) %>
              </div>
            </div>
          </section>
        <% } %>
      </article>

      <!-- Music player small -->
      <%- include("../partials/player-sm.ejs") %>

      <!-- Music player large (modal view) -->
      <%- include("../partials/player-lg.ejs") %>

      <!-- Footer -->
      <%- include("../layouts/footer.ejs") %>

      <!-- Bottom navigation -->
      <%- include("../partials/bottom-nav.ejs") %>
    </main>

    <!-- Recently played tracks sidebar -->
    <%- include("../layouts/recent-tracks-sidebar.ejs", { recentTracks:
    locals.recentlyPlayedTracks }) %>
  </body>
</html>
