<!-- prettier-ignore -->
<%
const {
  id: artistId,
  name: artistName,
  images: artistImages,
  followers: { total: totalFollowers },
  genres: artistGenres,
  external_urls: { spotify: spotifyUrl },
  uri: artistUri
} = locals.artistInfo;
const {
  width: artistBannerWidth = 300,
  height: artistBannerHeight = 300,
  url: artistBannerSrc = "/images/artist-banner.png"
} = artistImages.at(0) ?? {};
const {
  tracks: artistTopTracks
} = locals.artistTopTracksInfo;
const {
  items: artistAlbumItems,
  next: artistAlbumsNextPage
} = locals.artistAlbumsInfo;
const {
  artists: relatedArtists
} = locals.relatedArtistsInfo;
%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../layouts/head.ejs", { title: `${artistName} | RaagRiff` }) %>

    <link rel="stylesheet" href="/css/info-page.css" />

    <style>
      .page::before {
        background-image: url("<%= artistBannerSrc %>");
      }

      .card .card-text {
        text-transform: capitalize;
      }
    </style>
  </head>

  <body>
    <main class="page custom-scrollbar" data-page>
      <!-- Topbar -->
      <%- include("../partials/top-bar.ejs", locals.currentUserProfile) %>

      <article class="main">
        <!-- Artist info -->
        <header class="info-header">
          <figure class="figure-img info-banner">
            <img
              src="<%= artistBannerSrc %>"
              alt="<%= artistName %> banner"
              width="<%= artistBannerWidth %>"
              height="<%= artistBannerHeight %>"
              loading="lazy"
              class="cover-img"
              data-lazy-loaded
            />
          </figure>

          <div class="info-content">
            <p class="label-large info-subtitle">Artist</p>

            <h2 class="headline-large info-title"><%= artistName %></h2>

            <div class="info-text has-separator">
              <% if (totalFollowers > 1) { %>
              <p class="label-large">
                <%= totalFollowers.toLocaleString("en-US") %> Followers
              </p>
              <% } else { %>
              <p class="label-large">
                <%= totalFollowers.toLocaleString("en-US") %> Follower
              </p>
              <% } %>

              <!-- prettier-ignore -->
              <% if (artistGenres.length > 0) { %>
              <span class="separator"></span>
              <p style="text-transform: capitalize" class="label-large">
                Genres &mdash; <%= artistGenres.join(" | ") %>
              </p>
              <% } %>
            </div>

            <div class="info-actions">
              <%- include("../partials/play-btn.ejs", { variant: "filled",
              dataAttr: `data-uri=${artistUri}` }) %>

              <a
                href="<%= spotifyUrl %>"
                target="_blank"
                class="btn btn-outline has-icon"
                data-ripple
              >
                <img
                  src="/images/spotify-primary.svg"
                  alt="Spotify logo"
                  width="18"
                  height="18"
                />
                <span class="label-large">Listen on Spotify</span>
                <div class="state-layer"></div>
              </a>
            </div>
          </div>
        </header>

        <div class="divider variant"></div>

        <!-- Artist top tracks -->
        <% if (artistTopTracks.length > 0) { %>
        <section class="section">
          <div class="title-wrapper">
            <h2 class="title-large section-title">Popular</h2>
          </div>

          <div class="list">
            <!-- prettier-ignore  -->
            <% artistTopTracks.filter(item => item !== null).forEach(({ id, name, album: { name: albumName, images }, duration_ms, uri: trackUri  }, index) => { %>
              <% index++; %>
              <%- include("../partials/list-item.ejs", {
                id,
                title: name,
                trackSrNo: index,
                albumName,
                images,
                duration_ms,
                trackUri
              }) %>
            <% }) %>
          </div>
        </section>
        <% } %>

        <!-- Artist albums -->
        <section class="section">
          <div class="title-wrapper">
            <h2 class="title-large section-title">Discography</h2>

            <% if (artistAlbumsNextPage !== null) { %>
            <a
              href="/artists/<%= artistId %>/albums"
              class="btn btn-link"
              data-ripple
            >
              <span class="label-large">See all</span>
              <div class="state-layer"></div>
            </a>
            <% } %>
          </div>

          <div class="slider" data-slider>
            <div class="slider-inner">
              <!-- prettier-ignore -->
              <% artistAlbumItems.filter(item => item !== null).forEach(({ id, name: title, album_type, images, release_date, uri }) => { %>
                <%
                  const year = new Date(release_date).getFullYear();
                  const image = images.find(img => img.width === 300); 
                %>
                <%- include("../partials/card.ejs", {
                  type: "album",
                  title,
                  image,
                  text: album_type,
                  year,
                  link: `/albums/${id}`,
                  uri
                }) %>
              <% }) %>
            </div>
          </div>
        </section>

        <!-- Related/Similar artists -->
        <% if (relatedArtists.length > 0) { %>
        <section class="section">
          <div class="title-wrapper">
            <h2 class="title-large section-title">Fans also like</h2>
          </div>

          <div class="slider" data-slider>
            <div class="slider-inner">
              <!-- prettier-ignore -->
              <% relatedArtists.filter(item => item !== null).forEach(({ id, name: title, type, images, uri }) => { %>
                <% const [image] = images || []; %>
                <%- include("../partials/card.ejs", {
                  variant: "artist-card",
                  type: "artist",
                  title,
                  image,
                  text: type,
                  link: `/artists/${id}`,
                  uri
                }) %>
              <% }) %>
            </div>
          </div>
        </section>
        <% } %>
      </article>

      <!-- Music player small -->
      <%- include("../partials/player-sm.ejs") %>

      <!-- Music player large (modal view) -->
      <%- include("../partials/player-lg.ejs") %>

      <!-- Footer -->
      <%- include("../layouts/footer.ejs") %>

      <!-- Bottom navigation -->
      <%- include("../partials/bottom-nav.ejs") %>
    </main>

    <!-- Recently played tracks sidebar -->
    <%- include("../layouts/recent-tracks-sidebar.ejs", { recentTracks:
    locals.recentlyPlayedTracks }) %>
  </body>
</html>
