<% const { items: artistItems } = locals.artists; %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../layouts/head.ejs", { title: `${locals.title} | RaagRiff` })
    %>
  </head>

  <body>
    <main class="page custom-scrollbar" data-page>
      <!-- Topbar -->
      <%- include("../partials/top-bar.ejs", locals.currentUserProfile) %>

      <article class="main" data-main>
        <section class="section">
          <div class="title-wrapper">
            <h2 class="title-large section-title"><%= locals.title %></h2>
          </div>

          <div class="grid-list">
            <!-- prettier-ignore -->
            <% artistItems.forEach(({ id, name, type, images, uri }) => { %>
                <% const [image] = images || []; %>
                <%- include("../partials/card.ejs", {
                  variant: "artist-card",
                  title: name,
                  type: 'artist',
                  image,
                  text: type,
                  link: `/artists/${id}`,
                  uri
                }) %>
            <% }) %>
          </div>

          <!-- Pagination controls -->
          <%- include("../partials/pagination-controls.ejs", locals.artists) %>
        </section>
      </article>

      <!-- Music player small -->
      <%- include("../partials/player-sm.ejs") %>

      <!-- Music player large (modal view) -->
      <%- include("../partials/player-lg.ejs") %>

      <!-- Footer -->
      <%- include("../layouts/footer.ejs") %>

      <!-- Bottom navigation -->
      <%- include("../partials/bottom-nav.ejs") %>
    </main>

    <!-- Recently played tracks sidebar -->
    <%- include("../layouts/recent-tracks-sidebar.ejs", { recentTracks:
    locals.recentlyPlayedTracks }) %>
  </body>
</html>
